<a routerLink="/list1">Test with a list loaded by a resolve guard</a>
<br/>
<a routerLink="/list2">Test with a list loaded by the component</a>
<br/>
<a routerLink="/list3">Test with a list loaded by the component, with imperative scroll as described in the documentation</a>
<br/>
<a routerLink="/list4">Test with a list loaded by a resolve guard, and an imperative scroll **after** view initialization</a>
<br/>
<a routerLink="/list5">Test with a list loaded by the component, and an imperative scroll **after** a delay</a>
